.app-menu {
    float: left;
    position: relative;
    margin-left: 30px;
}

.app-menu-item {
    padding-bottom: 25px;
    margin: 15px;
    color: #9c9c9c;
    cursor: pointer;
    height: 29px;
    line-height: 44px;
    font-size: 16px;
}

.app-menu-item.active,
.app-menu-item:hover {
    box-shadow: inset 0 -4px #5cb4e5;
    -moz-box-shadow: inset 0 -4px #5cb4e5;
    -webkit-box-shadow: inset 0 -4px #5cb4e5;
}