.user-item {
    width: 100%;
    padding: 10px 20px;
    background: #FFF;
    border: 1px solid #ddd;
    border-bottom-width: 0;
}

.user-item:hover {
    background-color: #f9f9f9;
}

.user-item:last-child {
    border-bottom-width: 1px;
}

.user-item-avatar {
    width: 50px;
    height: 50px;
    float: left;
    background-image: url(../../Assets/Images/Placeholders/user-icon-90x90.png);
    background-size: cover;
}

.user-item-details {
    margin-left: 65px;
}

.user-item-name {
    line-height: 25px;
    color: #4c4c4c;
    font-size: 18px;
}

.user-item-email {
    line-height: 25px;
    color: #777;
    font-size: 12px;
}